.cabecera {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
  box-shadow: inset 0 0 9px 0 #2271d1b2;
  border-bottom: 2.2px solid var(--blue, #2271d1);
}

.cabecera img {
  align-items: flex-start;
}

.logo {
  width: 150px;
  height: 40px;
  margin-left: 15px;
}

.btnHome {
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  transition: transform 0.5s ease-out;
  border: 2px solid var(--blue);
  gap: 10px;
  box-shadow: inset 0 0 3px 2px #2271d1b2;
  position: relative;
  left: 2rem;
}

.btnNuevoVideo {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.5s ease-out;
  border: 2px solid var(--white);
}

.btnHome:hover {
  transform: scale(1.1);
}

.btnNuevoVideo:hover {
  transform: scale(1.1);
}
