:root {
  --fuente: "Roboto", sans-serif;
  --dark-grey: #262626;
  --blue: #2271d1;
  --dark-blue: #03122f;
  --black: #000000;
  --white: #ffffff;
  --color-front-end: #6bd1ff;
  --color-back-end: #00c86f;
  --color-innovacionygestion: #ffba05;
}

body {
  font-family: var(--fuente);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
